<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>About: {{ title }} </p>    
        <img src="img/images.jpg" alt="" class="potrait">
        <br>
        <p>This website uses mapbox and weatherstack to fetch the forecast data</p>
        </div>
        
        {{>footer}}
    </body>
</html>